body {
    background-color: rgb(64, 81, 59);
    margin: 0;
    padding: 0;
}

/* header */

header {
    width: auto;
    height: 100px;
    background-color: rgb(96, 153, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 160px;
}

h1 {
    margin: 0;
    color: rgb(51, 52, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* adding a new exercise */

nav {
    width: auto;
    height: 50px;
    background-color: rgb(157, 192, 139);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
color: rgb(51, 52, 49);
margin: 0;
padding-right: 10px;
transition: ease-in-out 0.5s;
text-decoration: none;
}

nav a:hover{
    cursor: pointer;
    color: rgb(237, 241, 214);;
}

/* card's style */

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 30px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
}

.card {
    background-color: rgb(183, 183, 138);
    height: auto;
    width: 350px;
    margin: 20px;
    display: grid;
    justify-self: center;
    border-radius: 8%;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}

.card p, .card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card ol {
    text-align: justify;
    padding-right: 20px;
    line-height: 20px;
}

.card span {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.card a {
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: rgb(44, 56, 41);
}


/* media query for phones */

@media only screen and (max-width: 500px){
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
}

/* socials footer */

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}


iframe{
    width: 100%;
    height: 85%;
}

.hidden{
    display:none;
}