@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-shown {
  display: block;
  top: 65px !important;
  left: 0px;
  transition: top 0.25s ease-in-out;
}

.navbar-hidden {
  top: -250px !important;
  left: 0px;
  transition: top 0.25s ease-in-out;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 639px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #d1d5db;
  width: 10px;
  height: 16px;
  box-shadow: #333;
}
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #3f3f3f;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #d1d5db;
}
