@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #d1d5db;
  width: 10px;
  height: 16px;
  box-shadow: #333;
}
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #3f3f3f;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #d1d5db;
}
